html,
body {
    height: 100%;
    overflow: hidden;
}

.main__body {
    display: flex;
    align-items: center;
    /*padding-top: 40px;*/
    padding-bottom: 40px;
    height: auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 0;
}

.errors-container {
    max-width: 660px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.header {
    width: 100%;
    background: #fff;
    padding: 15px 0;
    z-index: 100;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.header__inner {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
}
.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.custom__nav {
    padding-top: 0;
    background-color: #f5f5f5;
    width: 100%;
    background: none;
}
.list-group-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.list-group {
    overflow: auto;
    max-height: 400px;
    margin-top: 40px;
}
.home-form {
    max-width: 550px;
    margin-top: 80px;
}
.blur{
    filter: url(#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}
.blur__svg {
    /*display: none;*/
}
.registration__form {
    margin-top: 80px;
}
.alert {
    position: absolute;
    width: 550px;
    max-width: 660px;
}
